*{
    margin: 0;
    padding: 0;
}

@total-width:750;

.w{
    width: 750/40rem;
    height: 1466/40rem;
    margin: 0 auto;
}

html{
    font-size: 100vw/@total-width *40;
}

.container:extend(.w){
    background-image: url("../static/firstBg.png");
    background-size: 100%;
    background-repeat: no-repeat;

    // 分享
    .share{
        position: fixed;
        right: 0;
        top: 18/40rem;
        width: 110/40rem;

        img{
            width: 100%;
            vertical-align: top;
        }
    }

    //标题图片
    .title{
        width: 600/40rem;
        margin: 0 auto;
        padding-top: 60/40rem;
        padding-bottom: 30/40rem;
        img{
            width: 100%;
            vertical-align: top;
        }
    }

}

.swiper-list:extend(.w){
    display: flex;
    overflow: auto;
}
.swiper{
    flex: none;
    width: 500/40rem;

    img{
        width: 100%;
    }
}

@keyframes btn {
        from{
            width: 273px;
            height: 40px;
        }

        to{
            width: 208px;
            height: 30px;
        }
    }

