* {
  margin: 0;
  padding: 0;
}
.w,
.container,
.swiper-list {
  width: 18.75rem;
  height: 36.65rem;
  margin: 0 auto;
}
html {
  font-size: 5.33333333vw;
}
.container {
  background-image: url("../static/firstBg.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.container .share {
  position: fixed;
  right: 0;
  top: 0.45rem;
  width: 2.75rem;
}
.container .share img {
  width: 100%;
  vertical-align: top;
}
.container .title {
  width: 15rem;
  margin: 0 auto;
  padding-top: 1.5rem;
  padding-bottom: 0.75rem;
}
.container .title img {
  width: 100%;
  vertical-align: top;
}
.swiper-list {
  display: flex;
  overflow: auto;
}
.swiper {
  flex: none;
  width: 12.5rem;
}
.swiper img {
  width: 100%;
}
@keyframes btn {
  from {
    width: 273px;
    height: 40px;
  }
  to {
    width: 208px;
    height: 30px;
  }
}
